In [1]:
# for loop, while loop

In [2]:
# for loop

In [3]:
myList = [10,20,30,40,50,60,70]

In [4]:
myList[0] / 5 * 2

4.0

In [5]:
myList[1] / 5 * 2

8.0

In [6]:
for number in myList:
    print(number)

10
20
30
40
50
60
70

In [7]:
for number in myList:
    print(number / 5 * 2)

4.0
8.0
12.0
16.0
20.0
24.0
28.0

In [8]:
for x in myList:
    newNumber = x / 5 * 2
    print(newNumber)

4.0
8.0
12.0
16.0
20.0
24.0
28.0

In [9]:
print("for loop started")
for x in myList:
    newNumber = x / 5 * 2
    print(newNumber)
print("for loop ended")

for loop started
4.0
8.0
12.0
16.0
20.0
24.0
28.0
for loop ended

In [10]:
myList

[10, 20, 30, 40, 50, 60, 70]

In [11]:
for i in myList:
    if i % 6 == 0:
        print(i)

30
60

In [12]:
numberList = [1,2,3,4,5,6,7,8,9,10]

In [13]:
for num in numberList:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [14]:
my_string = "mehmet ege aydın"

In [15]:
for c in my_string:
    print(c)

m
e
h
m
e
t

e
g
e

a
y
d
ı
n

In [16]:
my_tuple = (10,20,30,40,50,60,70)

In [17]:
for num in my_tuple:
    print(num / 5 * 2)

4.0
8.0
12.0
16.0
20.0
24.0
28.0

In [18]:
my_tuple

(10, 20, 30, 40, 50, 60, 70)

In [19]:
my_new_list = [("a","b"),("c","d"),("e","f"),("g","h")]

In [20]:
len(my_new_list)

4

In [21]:
my_new_list[0]

('a', 'b')

In [22]:
for element in my_new_list:
    print(element)

('a', 'b')
('c', 'd')
('e', 'f')
('g', 'h')

In [23]:
# tuple unpacking

In [24]:
my_new_list[0][1]

'b'

In [25]:
for (x,y) in my_new_list:
    print(x)
    print(y)

a
b
c
d
e
f
g
h

In [26]:
my_tuple_list = [(0,1,2),(3,4,5),(6,7,8),(9,10,11)]

In [27]:
len(my_tuple_list)

4

In [28]:
for (x, y, z) in my_tuple_list:
    print(x)

0
3
6
9

In [29]:
my_set = {1,2,3,4,5}

In [30]:
len(my_set)

5

In [31]:
type(my_set)

set

In [32]:
for num in my_set:
    print(num)

1
2
3
4
5

In [33]:
my_dictionary = {"k1":100, "k2":200,"k3":300}

In [34]:
for element in my_dictionary:
    print(element)

k1
k2
k3

In [35]:
for (key, value) in my_dictionary.items():
    print(str(key) + ":" + str(value))

k1:100
k2:200
k3:300

In [36]:
#continue - break - pass

In [37]:
my_list = [10,20,30,40,50,60,70]

In [38]:
print("for loop started")
for num in my_list:
    print(num)
print("for loop ended")

for loop started
10
20
30
40
50
60
70
for loop ended

In [39]:
for num in my_list:
    if num == 40:
        print("yes")

yes

In [40]:
for num in my_list:
    print(num)
    if num == 40:
        print("yes")
        break

10
20
30
40
yes

In [41]:
for number in my_list:
    if number == 40:
        continue
    print(number)

10
20
30
50
60
70

In [42]:
for number in my_list:
    pass

## While Loop

In [1]:
x = 0

In [2]:
while x < 10:
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9

In [4]:
last_list = [10,20,30,40,50]

In [5]:
while 20 in last_list:
    print("20 in last_list")
    last_list.pop()

20 in last_list
20 in last_list
20 in last_list
20 in last_list

In [6]:
my_list = [10,20,30]

In [7]:
my_list

[10, 20, 30]

In [8]:
print(my_list)

[10, 20, 30]

In [10]:
print(f"my list: {my_list}")

my list: [10, 20, 30]

In [11]:
name = input("enter name: ")

enter name: mehmet

In [12]:
print(f"welcome {name}")

welcome mehmet

In [13]:
print("welcome",name)

welcome mehmet

In [14]:
p = 0
while p < 20:
    print(f"value of p: {p}")
    p += 1

value of p: 0
value of p: 1
value of p: 2
value of p: 3
value of p: 4
value of p: 5
value of p: 6
value of p: 7
value of p: 8
value of p: 9
value of p: 10
value of p: 11
value of p: 12
value of p: 13
value of p: 14
value of p: 15
value of p: 16
value of p: 17
value of p: 18
value of p: 19